@model RoadTrafficApp.Models.PetrolStation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Petrol Station Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Petrol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Petrol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diesel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
