<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Road Traffic Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RTA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <img src="http://www.abilenempo.org/site_images/cones.png" id="traffic_cone"/>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>                   
                    <li>@Html.ActionLink("Toll Roads", "Index", "Tolls")</li>
                    <li>@Html.ActionLink("Petrol Stations", "Index", "PetrolStations")</li>
                    <li>@Html.ActionLink("Garages", "Index", "Garages")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Road Traffic Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">

   $(document).ready(function () {
     initMap();
   });
   function initMap() {
       var map = new google.maps.Map(document.getElementById('map'), {
           zoom: 15,
           center: { lat: 53.3239918, lng: -6.5258807 }
       });

       google.maps.event.addDomListener(window, "resize", function () {
           var center = map.getCenter();
           google.maps.event.trigger(map, "resize");
           map.setCenter(center);
       });

       var trafficLayer = new google.maps.TrafficLayer();
       trafficLayer.setMap(map);

       var latlngToll1 = new google.maps.LatLng(53.3694422, -6.3784852);
       var latlngToll2 = new google.maps.LatLng(53.6632839, -6.3300481);
       var latlngToll3 = new google.maps.LatLng(53.4538131, -6.4825408);
       var latlngToll4 = new google.maps.LatLng(53.672258, -6.775598);
       var latlngToll5 = new google.maps.LatLng(53.4103894, -6.7399785);
       var latlngToll6 = new google.maps.LatLng(53.2822227, -8.4133172);
       var latlngToll7 = new google.maps.LatLng(53.0004703, -7.3933992);
       var latlngToll8 = new google.maps.LatLng(52.027054, -8.328063);
       var latlngToll9 = new google.maps.LatLng(52.2742808, -7.1590249);
       var latlngToll10 = new google.maps.LatLng(53.344358, -6.2247711);
       var latlngToll11 = new google.maps.LatLng(53.3563183, -6.2282298);
       var latlngToll12 = new google.maps.LatLng(52.655137, -8.6863906);

       var markerToll1 = new google.maps.Marker({
           'position': latlngToll1,
           'map': map
       });
       var infowindowToll1 = new google.maps.InfoWindow({
           content: "<b>M50 Barrier Free Toll"
       });
       google.maps.event.addListener(markerToll1, 'click', function () {
           infowindowToll1.open(map, markerToll1);
       });
       markerToll1.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png')


       var markerToll2 = new google.maps.Marker({
           'position': latlngToll2,
           'map': map
       });
       var infowindowToll2 = new google.maps.InfoWindow({
           content: "<b>M1 (Gormanston to Monasterboice)"
       });
       google.maps.event.addListener(markerToll2, 'click', function () {
           infowindowToll2.open(map, markerToll2);
       });
       markerToll2.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png')


       var markerToll3 = new google.maps.Marker({
           'position': latlngToll3,
           'map': map
       });
       var infowindowToll3 = new google.maps.InfoWindow({
           content: "<b>M3 Clonee-Kells (Clonee-Dunshaughlin)"
       });
       google.maps.event.addListener(markerToll3, 'click', function () {
           infowindowToll3.open(map, markerToll3);
       });
       markerToll3.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png')


       var markerToll4 = new google.maps.Marker({
           'position': latlngToll4,
           'map': map
       });
       var infowindowToll4 = new google.maps.InfoWindow({
           content: "<b>M3 Clonee-Kells (Navan-Kells)"
       });
       google.maps.event.addListener(markerToll4, 'click', function () {
           infowindowToll4.open(map, markerToll4);
       });
       markerToll4.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png')


       var markerToll5 = new google.maps.Marker({
           'position': latlngToll5,
           'map': map
       });
       var infowindowToll5 = new google.maps.InfoWindow({
           content: "<b>M4 (Kilcock-Enfield-Kinnegad)"
       });
       google.maps.event.addListener(markerToll5, 'click', function () {
           infowindowToll5.open(map, markerToll5);
       });
       markerToll5.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png')


       var markerToll6 = new google.maps.Marker({
           'position': latlngToll6,
           'map': map
       });
       var infowindowToll6 = new google.maps.InfoWindow({
           content: "<b>N6 (Galway to Ballinasloe)"
       });
       google.maps.event.addListener(markerToll6, 'click', function () {
           infowindowToll6.open(map, markerToll6);
       });
       markerToll6.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png')

       var markerToll7 = new google.maps.Marker({
           'position': latlngToll7,
           'map': map
       });
       var infowindowToll7 = new google.maps.InfoWindow({
           content: "<b>M7/M8 (Portlaoise - Castletown/ Portlaoise - Cullahill)"
       });
       google.maps.event.addListener(markerToll7, 'click', function () {
           infowindowToll7.open(map, markerToll7);
       });
       markerToll7.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png')

       var markerToll8 = new google.maps.Marker({
           'position': latlngToll8,
           'map': map
       });
       var infowindowToll8 = new google.maps.InfoWindow({
           content: "<b>N8 (Rathcormac - Fermoy Bypass)"
       });
       google.maps.event.addListener(markerToll8, 'click', function () {
           infowindowToll8.open(map, markerToll8);
       });
       markerToll8.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png')

       var markerToll9 = new google.maps.Marker({
           'position': latlngToll9,
           'map': map
       });
       var infowindowToll9 = new google.maps.InfoWindow({
           content: "<b>N25 (Waterford City Bypass)"
       });
       google.maps.event.addListener(markerToll9, 'click', function () {
           infowindowToll9.open(map, markerToll9);
       });
       markerToll9.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png')

       var markerToll10 = new google.maps.Marker({
           'position': latlngToll10,
           'map': map
       });
       var infowindowToll10 = new google.maps.InfoWindow({
           content: "<b>East-Link Bridge"
       });
       google.maps.event.addListener(markerToll10, 'click', function () {
           infowindowToll10.open(map, markerToll10);
       });
       markerToll10.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png')


       var markerToll11 = new google.maps.Marker({
           'position': latlngToll11,
           'map': map
       });
       var infowindowToll11 = new google.maps.InfoWindow({
           content: "<b>Dublin Tunnel"
       });
       google.maps.event.addListener(markerToll11, 'click', function () {
           infowindowToll11.open(map, markerToll11);
       });
       markerToll11.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png')


       var markerToll12 = new google.maps.Marker({
           'position': latlngToll12,
           'map': map
       });
       var infowindowToll12 = new google.maps.InfoWindow({
           content: "<b>Limerick Tunnel"
       });
       google.maps.event.addListener(markerToll12, 'click', function () {
           infowindowToll12.open(map, markerToll12);
       });
       markerToll12.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png')


       var latlngGarage1 = new google.maps.LatLng(53.33537, -6.248306);
       var latlngGarage2 = new google.maps.LatLng(53.292338, -6.2594898);
       var latlngGarage3 = new google.maps.LatLng(53.332039, -6.267271);
       var latlngGarage4 = new google.maps.LatLng(53.3288531, -6.2618731);
       var latlngGarage5 = new google.maps.LatLng(53.297002, -6.370421);
       var latlngGarage6 = new google.maps.LatLng(53.2806, -6.3750797);
       var latlngGarage7 = new google.maps.LatLng(53.3355101, -6.2447452);
       var latlngGarage8 = new google.maps.LatLng(53.361409, -6.259959);
       var latlngGarage9 = new google.maps.LatLng(53.339528, -6.407775);
       var latlngGarage10 = new google.maps.LatLng(53.296253, -6.353801);

       var markerGarage1 = new google.maps.Marker({
           'position': latlngGarage1,
           'map': map
       });
       var infowindowGarage1 = new google.maps.InfoWindow({
           content: "<b>Fitzwilliam Garage"
       });
       google.maps.event.addListener(markerGarage1, 'click', function () {
           infowindowGarage1.open(map, markerGarage1);
       });
       markerGarage1.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png')


       var markerGarage2 = new google.maps.Marker({
           'position': latlngGarage2,
           'map': map
       });
       var infowindowGarage2 = new google.maps.InfoWindow({
           content: "<b>Bedford Motors"
       });
       google.maps.event.addListener(markerGarage2, 'click', function () {
           infowindowGarage2.open(map, markerGarage2);
       });
       markerGarage2.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png')


       var markerGarage3 = new google.maps.Marker({
           'position': latlngGarage3,
           'map': map
       });
       var infowindowGarage3 = new google.maps.InfoWindow({
           content: "<b>Mulligan's Garage"
       });
       google.maps.event.addListener(markerGarage3, 'click', function () {
           infowindowGarage3.open(map, markerGarage3);
       });
       markerGarage3.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png')


       var markerGarage4 = new google.maps.Marker({
           'position': latlngGarage4,
           'map': map
       });
       var infowindowGarage4 = new google.maps.InfoWindow({
           content: "<b>Kelly's Garage"
       });
       google.maps.event.addListener(markerGarage4, 'click', function () {
           infowindowGarage4.open(map, markerGarage4);
       });
       markerGarage4.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png')


       var markerGarage5 = new google.maps.Marker({
           'position': latlngGarage5,
           'map': map
       });
       var infowindowGarage5 = new google.maps.InfoWindow({
           content: "<b>Sweeneys Garage Tallaght"
       });
       google.maps.event.addListener(markerGarage5, 'click', function () {
           infowindowGarage5.open(map, markerGarage5);
       });
       markerGarage5.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png')


       var markerGarage6 = new google.maps.Marker({
           'position': latlngGarage6,
           'map': map
       });
       var infowindowGarage6 = new google.maps.InfoWindow({
           content: "<b>Hillside Garage Servicing and Repairs"
       });
       google.maps.event.addListener(markerGarage6, 'click', function () {
           infowindowGarage6.open(map, markerGarage6);
       });
       markerGarage6.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png')


       var markerGarage7 = new google.maps.Marker({
           'position': latlngGarage7,
           'map': map
       });
       var infowindowGarage7 = new google.maps.InfoWindow({
           content: "<b>O'Brien Garage"
       });
       google.maps.event.addListener(markerGarage7, 'click', function () {
           infowindowGarage7.open(map, markerGarage7);
       });
       markerGarage7.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png')


       var markerGarage8 = new google.maps.Marker({
           'position': latlngGarage8,
           'map': map
       });
       var infowindowGarage8 = new google.maps.InfoWindow({
           content: "<b>Dorset Expert Garage"
       });
       google.maps.event.addListener(markerGarage8, 'click', function () {
           infowindowGarage8.open(map, markerGarage8);
       });
       markerGarage8.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png')


       var markerGarage9 = new google.maps.Marker({
           'position': latlngGarage9,
           'map': map
       });
       var infowindowGarage9 = new google.maps.InfoWindow({
           content: "<b>Sean Kavanagh's Garage"
       });
       google.maps.event.addListener(markerGarage9, 'click', function () {
           infowindowGarage9.open(map, markerGarage9);
       });
       markerGarage9.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png')


       var markerGarage10 = new google.maps.Marker({
           'position': latlngGarage10,
           'map': map
       });
       var infowindowGarage10 = new google.maps.InfoWindow({
           content: "<b>Stuarts Garage - Land Rover"
       });
       google.maps.event.addListener(markerGarage10, 'click', function () {
           infowindowGarage10.open(map, markerGarage10);
       });
       markerGarage10.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png')


       var latlngPetrolStation1 = new google.maps.LatLng(53.3200835, -6.2785806);
       var latlngPetrolStation2 = new google.maps.LatLng(53.3970464, -6.145351);
       var latlngPetrolStation3 = new google.maps.LatLng(53.31709, -6.29328);
       var latlngPetrolStation4 = new google.maps.LatLng(53.2852974, -6.2396748);
       var latlngPetrolStation5 = new google.maps.LatLng(53.3009329, -6.2843513);
       var latlngPetrolStation6 = new google.maps.LatLng(53.2907135, -6.268475);
       var latlngPetrolStation7 = new google.maps.LatLng(53.3000678, -6.3484146);
       var latlngPetrolStation8 = new google.maps.LatLng(53.295311, -6.298685);
       var latlngPetrolStation9 = new google.maps.LatLng(53.3452085, -6.2778801);
       var latlngPetrolStation10 = new google.maps.LatLng(53.3439178, -6.3705411);

       var markerPetrolStation1 = new google.maps.Marker({
           'position': latlngPetrolStation1,
           'map': map
       });
       var infowindowPetrolStation1 = new google.maps.InfoWindow({
           content: "<b>Maxol"
       });
       google.maps.event.addListener(markerPetrolStation1, 'click', function () {
           infowindowPetrolStation1.open(map, markerPetrolStation1);
       });
       markerPetrolStation1.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png')


       var markerPetrolStation2 = new google.maps.Marker({
           'position': latlngPetrolStation2,
           'map': map
       });
       var infowindowPetrolStation2 = new google.maps.InfoWindow({
           content: "<b>Applegreen"
       });
       google.maps.event.addListener(markerPetrolStation2, 'click', function () {
           infowindowPetrolStation2.open(map, markerPetrolStation2);
       });
       markerPetrolStation2.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png')


       var markerPetrolStation3 = new google.maps.Marker({
           'position': latlngPetrolStation3,
           'map': map
       });
       var infowindowPetrolStation3 = new google.maps.InfoWindow({
           content: "<b>Esso"
       });
       google.maps.event.addListener(markerPetrolStation3, 'click', function () {
           infowindowPetrolStation3.open(map, markerPetrolStation3);
       });
       markerPetrolStation3.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png')


       var markerPetrolStation4 = new google.maps.Marker({
           'position': latlngPetrolStation4,
           'map': map
       });
       var infowindowPetrolStation4 = new google.maps.InfoWindow({
           content: "<b>Tesco"
       });
       google.maps.event.addListener(markerPetrolStation4, 'click', function () {
           infowindowPetrolStation4.open(map, markerPetrolStation4);
       });
       markerPetrolStation4.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png')


       var markerPetrolStation5 = new google.maps.Marker({
           'position': latlngPetrolStation5,
           'map': map
       });
       var infowindowPetrolStation5 = new google.maps.InfoWindow({
           content: "<b>Texaco"
       });
       google.maps.event.addListener(markerPetrolStation5, 'click', function () {
           infowindowPetrolStation5.open(map, markerPetrolStation5);
       });
       markerPetrolStation5.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png')


       var markerPetrolStation6 = new google.maps.Marker({
           'position': latlngPetrolStation6,
           'map': map
       });
       var infowindowPetrolStation6 = new google.maps.InfoWindow({
           content: "<b>Topaz"
       });
       google.maps.event.addListener(markerPetrolStation6, 'click', function () {
           infowindowPetrolStation6.open(map, markerPetrolStation6);
       });
       markerPetrolStation6.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png')


       var markerPetrolStation7 = new google.maps.Marker({
           'position': latlngPetrolStation7,
           'map': map
       });
       var infowindowPetrolStation7 = new google.maps.InfoWindow({
           content: "<b>Maxol"
       });
       google.maps.event.addListener(markerPetrolStation7, 'click', function () {
           infowindowPetrolStation7.open(map, markerPetrolStation7);
       });
       markerPetrolStation7.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png')


       var markerPetrolStation8 = new google.maps.Marker({
           'position': latlngPetrolStation8,
           'map': map
       });
       var infowindowPetrolStation8 = new google.maps.InfoWindow({
           content: "<b>Topaz"
       });
       google.maps.event.addListener(markerPetrolStation8, 'click', function () {
           infowindowPetrolStation8.open(map, markerPetrolStation8);
       });
       markerPetrolStation8.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png')


       var markerPetrolStation9 = new google.maps.Marker({
           'position': latlngPetrolStation9,
           'map': map
       });
       var infowindowPetrolStation9 = new google.maps.InfoWindow({
           content: "<b>Topaz"
       });
       google.maps.event.addListener(markerPetrolStation9, 'click', function () {
           infowindowPetrolStation9.open(map, markerPetrolStation9);
       });
       markerPetrolStation9.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png')


       var markerPetrolStation10 = new google.maps.Marker({
           'position': latlngPetrolStation10,
           'map': map
       });
       var infowindowPetrolStation10 = new google.maps.InfoWindow({
           content: "<b>Applegreen"
       });
       google.maps.event.addListener(markerPetrolStation10, 'click', function () {
           infowindowPetrolStation10.open(map, markerPetrolStation10);
       });
       markerPetrolStation10.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png')


      
           if (navigator.geolocation) {
               navigator.geolocation.getCurrentPosition(function (position) {
                   var pos = {
                       lat: position.coords.latitude,
                       lng: position.coords.longitude
                   };

                   var marker = new google.maps.Marker({
                       'position': pos,
                       'map': map
                   });

                   var infowindow = new google.maps.InfoWindow({
                       content: "<b>Current Location Traffic Data"
                   });
                   //infowindow.open(map, marker);

                   // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked! 
                   google.maps.event.addListener(marker, 'click', function () {
                       infowindow.open(map, marker);
                   });

                   map.setCenter(pos);
               }, function () {
                   handleLocationError(true, infoWindow, map.getCenter());
               });
           } else {
               // Browser doesn't support Geolocation
               handleLocationError(false, infoWindow, map.getCenter());
           }
   }
    

       function handleLocationError(browserHasGeolocation, infoWindow, pos) {
           infoWindow.setPosition(pos);
           infoWindow.setContent(browserHasGeolocation ?
                                 'Error: The Geolocation service failed.' :
                                 'Error: Your browser doesn\'t support geolocation.');
       }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVEzL0RBokDP7WSslsaInYcUPv_VfS_3k&callback=initMap"></script>
